extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'NETA Vietnam'
	- var description = 'Lò đào tạo CNTT chuyên nghiệp tại Sài Gòn. Chúng tôi là các chuyên gia uy tín trong lĩnh vực lập trình ứng dụng, thiết kế và sáng tạo. Chuyên đào tạo lập trình web, đào tạo fullstack nodejs, đào tạo frontend, đào tạo design...'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	.container
		.row
			.col-6.item
				input(type="radio", name="hehe" value="0") 
				input(type="radio", name="hehe" value="1110")
				label(for="heo") Số lượng
				input#heo.form-control.soluong(type="number" value="10")
				label Giá
				input.form-control.dongia(type="number" value="1000")
				label Thuế
				input.form-control.thue(type="number" value="5")
				button.btn.btn-primary $()Tính
				.tong 0
			.col-6.item
				label Số lượng
				input.form-control.soluong(type="number" value="13")
				label Giá
				input.form-control.dongia(type="number" value="2000")
				label Thuế
				input.form-control.thue(type="number" value="15")
				button.btn.btn-primary $()Tính
				.tong 0

